<h1>Editing restaurant</h1>

<%= render "form", restaurant: @restaurant %>

<br>

<div>
<%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  <%= link_to "Show this restaurant", @restaurant %> |
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
